.button1 {
	font-family: 'Space Mono', monospace;
	letter-spacing: 1px;
	background: none;
	color: green; /* change text color to green */
	position: relative;
	outline: none;
	border: solid 1px grey;
	border-radius: 5%;
	height: 50px;
	width: 190px;
	font-size: 14px;
	z-index: 2;
	transition: .01s .23s ease-out all;
	overflow: hidden;
  }
  .button1:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #202020;
	z-index: -1;
	transition: .3s ease-in all;
  }
  .button1:after {
	content: '';
	position: absolute;
	left: -5%;
	top: 5%;
	height: 90%;
	width: 5%;
	background: white;
	z-index: -1;
	transition: .4s .02s ease-in all;
  }
  .button1:hover {
	cursor: pointer;
  }
  .button1:hover:before {
	left: 100%;
	width: 25%;
  }
  .button1:hover:after {
	left: 100%;
	width: 70%;
  }
  .button1:hover span {
	opacity: 1;
  }
  .button1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1; /* make text visible at the start */
	transition: .4s .02s ease-in all;
  }
  

  /* şslkasşdlksşlkdsaşl */
  .button2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button2 ul li {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

.button2 ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.button2 ul li:hover {
    color: black;
}

.button2 ul li:hover span {
    transform: translateY(0) scale(2);
}

.button2 ul li span:nth-child(1) {
    --n: 1;
}

.button2 ul li span:nth-child(2) {
    --n: 2;
}

.button2 ul li span:nth-child(3) {
    --n: 3;
}

.button2 ul li span:nth-child(4) {
    --n: 4;
}

/* sonnnnnn */

.button3 {
	/* color: rgba(255,255,255,1); */
	color: #202020;
	background: none;
	border-radius: 0;
	padding: 1.2em 5em;
	letter-spacing: 0.35em;
	font-size: 0.7em;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
	margin: 1em;
	
	&.blue {
		box-shadow: inset 0 0 1em rgba(0,170,170,0.5), 0 0 1em rgba(0,170,170,0.5);
		border: #0dd solid 2px;
	}
	
	&.blue:hover {
		background-color: #0dd;
		box-shadow: inset 0 0 0 rgba(0,170,170,0.5), 0 0 1.5em rgba(0,170,170,0.7);
	}
}
